{% extends "footer.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
        
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img class="icono-verificacion" src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-personales"><h5>Seguro desea borrar su cuenta</h5></div>
                <br>

                <p>Una vez confirme la eliminacion de su cuenta no podra deshacer esta accion</p>
                <br>
                <p>Escriba<strong>"CONFIRMAR"</strong> y presione enviar para eliminar su cuenta</p>
                <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="contenedor-para-actualizar-mis-datos">

                        <div class="contenedor-actualizar-datos-personales" style="margin: 15px;">
                            <div class="parte-registrarse">
                                <input class="input-datos-facturacion" type="text" name="confirmacion" autofocus required id="id_confirmacion">
                
                            </div>
                            {% if alert %}

                                {{alert}}
                            {% endif %}
                            <div class="parte-registrarse">
                                <button class="boton-registrarse" type="submit">Enviar</button>
                            </div>
                        </div>


                    </div>
                </form>
                
                </div>
                
            </div>
        </div>

    </div>  

</div>

{% endblock %}


<h1>Password reset sent</h1>
          
          

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>