{% extends "footer.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
                
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img class="icono-verificacion" src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-facturacion">
                    <h5 style="color: #505050; padding: 10px;">Datos Facturación</h5>
                </div>

                    <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="contenedor-para-actualizar-mis-datos">

                            <div class="contenedor-actualizar-datos-personales">

                                <label class="label-datos-facturacion" for="id_nombre">Nombres</label>
                                {{form.nombre}}

                                <label class="label-datos-facturacion" for="id_apellido">Apellidos</label>
                                {{form.apellido}}

                                <label class="label-datos-facturacion" for="id_tipoDeDocumento">Tipo de Documento</label>
                                {{form.tipoDeDocumento}}

                                <label class="label-datos-facturacion" for="id_nDocumento">Número del Documento</label>
                                {{form.nDocumento}}

                            </div>

                            <div class="contenedor-dos-actualizar-datos-personales">

                                <label class="label-datos-facturacion" for="id_situacionFiscal">Situación Fiscal</label>
                                {{form.situacionFiscal}}

                                <label class="label-datos-facturacion" for="id_departamento">Departamento</label>
                                {{form.departamento}}
                            
                                <label class="label-datos-facturacion" for="id_ciudad">Ciudad</label>
                                {{form.ciudad}}

                                <label class="label-datos-facturacion" for="id_direccion">Dirección</label>
                                {{form.direccion}}
                                
                            </div>

                        </div>

                            <div class="contenedor-boton-actualizar">
                                <button class="boton-actualizar" type="submit">Actualizar</button>
                            </div>

                    </form>

            </div>


        </div>

    </div>  

</div>

{% endblock %}