{% extends "indexdos.html" %}

{% block titulo %} Inicio Sesión {% endblock %}

{% load static %}

{% block contenido %}

<div class="contanier-fluid fondo-iniciar-sesion">

    <div class="contenedor-centrar-cartas-signin">

        <div class="contenedor-mensaje-de-bienvenida">

            <div class="contenedor-texto-singin-and-texto-feliz">
                <div class="sub-bienvenido">
                    <h3>Iniciar Sesión</h3>
                </div>
    
                <div class="texto-de-bienvenida">
                    ¡Bienvenido a VueloYA! Estamos encantados de tenerte a bordo de esta emocionante aventura en el mundo de los viajes.
                </div>
            </div>

            <div class="contenedor-imagen-viajes-pareja">
                <img class="imagen-viajes-pareja" src="{% static 'img/Viajes-Pareja.png' %}" alt="">
            </div>

        </div>

        <div class="contenedor-formulario-iniciarsesion">

            <form class="contenido-carta-singin" method="POST">

                {% csrf_token %}

                <div class="parte-usuario">
                    <input class="input-username-password" type="text" id="username" name="username" placeholder="Ingresa el Usuario">
                </div>

                <div class="parte-usuario">
                    <input class="input-username-password" type="password" id="password" name="password" placeholder="Ingresa la Contraseña">
                </div>

                <div class="parte-recordar-usuario">
                    <a class="texto-olvido-contrasena" href="##">¿Olvidaste tu contraseña?</a>
                </div>

                <div class="parte-usuario">
                    <button class="boton-iniciar" type="submit">Ingresar</button>
                </div>


                {% if messages %}
                <div style="display: flex; justify-content: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    {% for message in messages%}
                        {{message}}
                    {% endfor%}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}


                <div class="contenedor-google">

                    <a class="continuar-con-google" href="#">
                        <img class="icono-google-and-flecha" src="{% static 'favicon.ico/IconoGoogle.png' %}" alt="">
                        <span>Continuar con Google</span>
                        <img class="icono-google-and-flecha" src="{% static 'favicon.ico/IconoFlechaDerecha.png' %}" alt="">
                    </a>

                </div>

                <div class="contenedor-texto-no-tengo-cuenta">
                    <span>¿Aún no tienes cuenta? <a class="texto-no-tengo-cuenta" href="{% url 'registrarse' %}">Registrate</a></span>
                </div>  

            </form>

        </div>

    </div>

</div>

    
{% endblock %}