{% extends "indexdos.html" %}

{% block titulo %} Inicio Sesión {% endblock %}

{% load static %}

{% block contenido %}


<div class="contanier-fluid fondo-login">

    <div class="contenedor-carta-login">

        <div class="contenedor-imagen-logo-vueloya">
            <img class="imagen-vueloya" src="{% static 'img/LogoVueloYA.png' %}" alt="">
        </div>

        <div class="contenedor-singin-and-singup">

            <div class="sub-bienvenido">
                <h3>¡Bienvenido a VueloYA!</h3>
            </div>

            <div class="texto-de-bienvenida">
                Descubre el mundo a través de nuestros vuelos. Con VueloYA, reserva fácilmente tus viajes, compara precios y encuentra las mejores ofertas. Estamos aquí para hacer que tus sueños de viaje despeguen. ¡Bienvenido a bordo!
            </div>

            <div class="contenedor-botonsingin-botonsingup">

                <div class="contenedor-botonsingin"><a class="botonsingin" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a></div>

                <div class="contenedor-botonsingup"><a class="botonsingup" href="{% url 'registrarse' %}">Registrarse</a></div>

            </div>

        </div>

    </div>

</div>


















{% endblock %}
