{% extends "indexdos.html" %}

{% block titulo %} Inicio Sesión {% endblock %}

{% load static %}

{% block contenido %}


    <div class="container-fluid mauro-siete">

        <div class="container qq-q">
            
            <div class="cuerpo-carta">

                <div class="cabecera-iniciar">
                    <img class="imagen-usuario" src="{% static 'img/CirculoUsuario.png' %}" alt="">
                    <h3 class="text-bienvenida">¡Hola!</h3>
                </div>

                <div class="contenido-carta">

                    <form>

                        <div class="parte-usuario row">
                            <input class="input-formulario-login" type="text" id="usuario" name="usuario" placeholder="Ingresa el Usuario">
                        </div>

                        
                        <div class="parte-usuario row">
                            <input class="input-formulario-login" type="password" id="contrasena" name="contrasena" placeholder="Ingresa la Contraseña">
                        </div>

                        <div class="parte-usuario">
                            <button class="boton-iniciar" type="submit">Ingresar</button>
                        </div>

                        <div class="parte-recordar-usuario">
                            <div>
                                <input type="checkbox" id="recuerdame">
                                <label for="recuerdame">Recúerdame</label>
                            </div>
                            <a style="color: #505050;" href="##">¿Necesitas ayuda?</a>
                        </div>

                        <div class="logos-redes-sociales">
                            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoFacebook.png' %}" alt="Facebook"></a>
                            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoX.png' %}" alt="Twitter"></a>
                            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoInstagram.png' %}" alt="Instagram"></a>
                        </div>

                        <div class="texto.oficial">
                            <p style="color: #505050; text-align: center;">©VUELOYA COLOMBIA</p>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

    
{% endblock %}