{% extends "footer.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
        
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-personales"><h5>Password reset sent</h5></div>

                    <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        <div class="contenedor-para-actualizar-mis-datos">

                            <div class="contenedor-actualizar-datos-personales" style="margin: 15px;">
                                <div class="parte-registrarse">
                                    <input class="input-formulario-registrarse" type="password" name="new_password1" placeholder="Ingresar nueva contraseña" autocomplete="new password" autofocus required id="id_new_password1">
                
                                    {% if form.new_password1.errors %}
                                        <div class="form-text-error-datos" id="basic-addon4">{{ form.password1.errors }}</div>
                                    {% else %}
                                    {% endif %}
                
                                </div>
                
                                <div class="parte-registrarse">
                                    <input class="input-formulario-registrarse" type="password" name="new_password2" placeholder="Repetir nueva contraseña" autocomplete="new-password" autofocus required id="id_new_password2">
                
                                    {% if form.password2.errors %}
                                        {% for error in form.new_password2.errors %}
                                        <div class="form-text-error-datos" id="basic-addon4">{{ error|escape }}</div>
                                    {% endfor %}
                
                                    {% else %}
                                    {% endif %} 
                
                                </div>

                                <div class="parte-registrarse">
                                    <button class="boton-registrarse" type="submit">Confirmar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                
            </div>
        </div>

    </div>  

</div>

{% endblock %}