{% extends "indexdos.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
        
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-personales"><h5>Cambiar contrasenia</h5></div>

                    <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="contenedor-para-actualizar-mis-datos">

                            <div class="contenedor-actualizar-datos-personales" style="margin: 15px;">


                                <label class="label-datos-facturacion" for="id_email">Correo</label>
                                <input class="input-datos-facturacion" type="email" name="email" value="{{ user.email }}" maxlength="320" required="" id="id_email">

                            </div>
                            
                        </div>

                            <div class="contenedor-boton-actualizar">
                                <button class="boton-actualizar" type="submit">Enviar correo</button>
                            </div>

                    </form>
                </div>
                
            </div>
        </div>

    </div>  

</div>


<div class="container recibir-ofertas">
    <div class="container">

      <h3 class="texto-ofertas-correo"><img class="icono-correo" src="{% static 'favicon.ico/IconoCorreo.png' %}" alt="Icono de correo"> Ofertas exclusivas a tu correo</h3>

      <div class="presentacion">
        <input class="ofertas-correo" type="email" placeholder="Ingresa el correo...">
        <button class="boton-tres" type="submit">Enviar</button>
      </div>

      <div class="politicas-privacidad">
        Recibirás correos promocionales de VueloYA. Para más información consulta las <a style="color: #1640D6;" href="####">políticas de privacidad.</a>
      </div>

    </div>
</div>

<div class="container-fluid informacion-footer">
    <div class="container">
        <footer class="footer-uno">

            <div class="row info-vueloya">
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 info-uno">
                    <h5 class="text-uppercase">Mi Cuenta</h5>
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'misviajes' %}" class="text-body-uno">Mis Viajes</a>
                        </li>
                        <li>
                            <a href="{% url 'perfil_user' %}" class="text-body-uno">Mi Perfil</a>
                        </li>
                    </ul>

                </div>



                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Somos VueloYA</h5>
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-body-uno">Ven a Trabajar a VueloYA </a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Relación con Inversores</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Sobre VueloYA</a>
                        </li>
                    </ul>
                </div>



                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Confianza en tus compras</h5>
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-body-uno">Terminos y condiciones</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Promociones vigentes</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Politica de privacidad</a>
                        </li>
                    </ul>
                </div>



                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Aerolíneas</h5>
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-body-uno">American Airlines</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Air France</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Avianca</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body-uno">Latam</a>
                        </li>
                    </ul>
                </div>

            </div>

        </footer>
    </div>
</div>

<div class="container">

    <footer class="footer-dos">

        <div class="footer-izquierda">
            <p class="pp-p">© 2023 Copyright:VueloYA</p>
        </div>

        <div class="footer-derecha">
            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoFacebook.png' %}" alt="Facebook"></a>
            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoX.png' %}" alt="Twitter"></a>
            <a href="#" ><img class="iconos-redes-sociales" src="{% static 'favicon.ico/IconoInstagram.png' %}" alt="Instagram"></a>
        </div>

    </footer>

</div>


{% endblock %}