{% extends "footer.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
        
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-personales"><h5>Nueva Contraseña</h5></div>

                    {% if validlink %}

                        <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="contenedor-para-actualizar-mis-datos">

                                <div class="contenedor-nueva-contrasena">

                                    <div class="parte-nueva-contrasena">
                                        <input class="input-nueva-contrasena" type="password" name="new_password1" placeholder="Ingresar nueva contraseña" autocomplete="new password" autofocus required id="id_new_password1">
                                    </div>
                    
                                    <div class="parte-nueva-contrasena">
                                        <input class="input-nueva-contrasena" type="password" name="new_password2" placeholder="Repetir nueva contraseña" autocomplete="new-password" autofocus required id="id_new_password2">
                                    </div>

                                    <div class="parte-nueva-contrasena">
                                        <button class="boton-cambiar-contrasena" type="submit">Cambiar Contraseña</button>
                                    </div>
                                </div>


                            </div>
                        </form>
                        
                        {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                {{ value }}
                                {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        {% endif %}

                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </div>

    </div>  

</div>

{% endblock %}