{% extends "indexdos.html" %}

{% block titulo %} Inicio Sesión {% endblock %}

{% load static %}

{% block contenido %}

<h1> Mi perfil </h1>
<br>
<div style="display: flex;">
    <img class="rounded-circle" src="{{user.uservueloya.picture.url}}" height="60">
    <div>
        {{ user.username }}
        <br>
        {{ user.email }} 
    </div> 
    <div class="parte-usuario">
        <a style="background-color: rgb(70, 144, 184); 
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;" 
        
        href="{% url 'personal-info' %}">Editar</a>
    </div>     
</div>
<br>

<div style="min-width: 40%;"></div>

Nombre completo: {{user.get_full_name}}        
<br>

Telefono: {{user.username}}
<br>
<a style="font-weight: 500; color: #303030;" href="{% url 'personal-info' %}">Contraseña</a>

        <div style="min-width: 50%; height: 200px;"></div>
    </div>

    <div style="background-color: rgb(118, 158, 158); min-width: 50%;"></div>




  
{% endblock %}