{% extends "footer.html" %}

{% block titulo %} Personal-info {% endblock %}

{% load static %}

{% block contenido %}

<div class="container-fluid mi-perfil">

    <div class="container edit-miperfil">

        <div class="contenedor-prueba">
        
            <div class="contenedor-edi-datos-perfil">
                
                <div class="contenedor-datos-perfil">

                    <div class="contenedor-img-perfil-edit">
                        <img class="rounded-circle" src="{{user.uservueloya.picture.url}}">
                    </div>

                    <div class="contenedor-nombre-email">

                        <div class="contenedor-nombre-miperfil">{{ user.username }}</div>

                        <div class="contenedor-email-miperfil">{{ user.email }} <img class="icono-verificacion" src="{% static 'favicon.ico/IconoVerificado.png' %}" alt="Icono-Verificado"> </div>

                    </div>

                    <div class="contenedor-boton-editar">
                        <a class="boton-editar-perfil" href="{% url 'perfil_user' %}"><img class="icono-regresar-a-perfil" src="{% static 'favicon.ico/IconoFlechaizquierda.png' %}" alt="">Mi Perfil</a>
                    </div>

                </div>

            </div>

            <div class="contenedor-datos-facturacion">

                <div class="texto-datos-personales"><h5>Datos Personales</h5></div>

                    <form class="contenedor-formulario-facturacion" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="contenedor-para-actualizar-mis-datos">

                            <div class="contenedor-actualizar-datos-personales">

                                <label class="label-datos-facturacion" for="id_username">Nombre de Usuario</label>
                                <input class="input-datos-facturacion" type="text" name="username" value="{{ user.username }}" maxlength="150" required="" id="id_username">

                                <label class="label-datos-facturacion" for="id_first_name">Nombres</label>
                                <input class="input-datos-facturacion" type="text" name="first_name" value="{{ user.first_name }}" maxlength="30" id="id_first_name">

                                <label class="label-datos-facturacion" for="id_last_name">Apellidos</label>
                                <input class="input-datos-facturacion" type="text" name="last_name" value="{{ user.last_name }}" maxlength="30" id="id_last_name">

                                <label class="label-datos-facturacion" for="id_email">Correo</label>
                                <input class="input-datos-facturacion" type="email" name="email" value="{{ user.email }}" maxlength="320" required="" id="id_email">

                            </div>

                            <div class="contenedor-dos-actualizar-datos-personales">

                                <label class="label-datos-facturacion" for="id_genero">Genero</label>
                                <select class="select-datos-generos" aria-label="Default select example" name="genero" required="" id="id_genero">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Prefiero no decir">Prefiero no decir</option>
                                </select>

                                <label class="label-datos-facturacion" for="id_telefono">Telefono</label>
                                <input class="input-datos-facturacion" type="text" name="telefono" value="{{ user.uservueloya.telefono }}" maxlength="10" id="id_telefono">

                                <label class="label-datos-facturacion" for="id_fechaNacimiento">Fecha de Nacimiento</label>
                                <input class="input-datos-facturacion" type="date" name="fechaNacimiento" value='{{ user.uservueloya.fechaNacimiento|date:"Y-m-d" }}' id="id_fechaNacimiento">
                                
                                <label class="label-datos-facturacion" for="id_picture">Picture:</label>
                                <input class="input-datos-facturacion" type="file" style="font-size: 1rem;" name="picture" accept="application/png,application/jpg" value="{{user.uservueloya.picture}}" id="id_picture">
                            </div>

                        </div>

                            <div class="contenedor-boton-actualizar">
                                <button class="boton-actualizar" type="submit">Actualizar</button>
                            </div>

                    </form>
                </div>
                
            </div>
        </div>

    </div>  

</div>

{% endblock %}