{% extends "indexdos.html" %}

{% block titulo %} Registrarse {% endblock %}

{% load static %}

{% block contenido %}


<div class="contanier-fluid fondo-registrarse">

    <div class="contenedor-centrar-cartas-signup">

        <div class="contenedor-mensaje-de-bienvenida-registro">

            <div class="contenedor-texto-singup-and-texto-feliz">
                <div class="sub-bienvenido-regsitro">
                    <h3>Registrarse</h3>
                </div>
    
                <div class="texto-de-bienvenida-registro">
                    En VueloYA, encontrarás las mejores opciones de vuelo, al alcance de tu mano. ¡Prepárate para despegar hacia tus destinos soñados con facilidad y comodidad!
                </div>
            </div>

            <div class="contenedor-espera-aeropuerto">
                <img class="imagen-espera-aeropuerto" src="{% static 'img/Espera-Aeropuerto.png' %}" alt="">
            </div>

        </div>

        <div class="contenedor-formulario-registrarse">

            <form  class="contenido-carta-singup" method="POST">

                {% csrf_token %}

                <div class="parte-registrarse">
                    <input class="input-formulario-registrarse" type="text" name="email" value= "{{ form.email.value }}" placeholder="Email" maxlength="100" autocapitalize="none" autocomplete="email" autofocus required id="id_email">

                    {% if form.email.errors %}
                        <div class="form-text-error-datos" id="basic-addon4">{{ form.email.errors }}</div>
                    {% else %}
                    {% endif %}

                </div>

                <div class="parte-registrarse">

                    <input class="input-formulario-registrarse" type="text" name="username" placeholder="Nombre de Usuario" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">

                    {% if form.username.errors %}
                        <div class="form-text-error-datos" id="basic-addon4">{{ form.username.errors }}</div>
                    {% else %}

                    {% endif %}

                </div> 

                <div class="parte-registrarse">
                    <input class="input-formulario-registrarse" type="password" name="password1" placeholder="Ingresar Contraseña" autocomplete="Nueva contraseña" autofocus required id="id_password1">

                    {% if form.password1.errors %}
                        <div class="form-text-error-datos" id="basic-addon4">{{ form.password1.errors }}</div>
                    {% else %}
                    {% endif %}

                </div>

                <div class="parte-registrarse">
                    <input class="input-formulario-registrarse" type="password" name="password2" placeholder="Repetir Contraseña" autocomplete="Confirmar contraseña" autofocus required id="id_password2">

                    {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <div class="form-text-error-datos" id="basic-addon4">{{ error|escape }}</div>
                    {% endfor %}

                    {% else %}
                    {% endif %} 

                </div>

                <div class="aceptar-terminos">
                    <span class="texto-acepto-terminos">
                        <input style="margin-right: 10px; width: 25px;" type="checkbox" id="recuerdame">
                        <label for="recuerdame">Acepto los <a class="aceptacion-terminos" href="#">Términos de Servicio</a> y la <a class="aceptacion-terminos" href=""> Política de Privacidad.</a></label>
                    </span>
                </div>

                <div class="parte-registrarse">
                    <button class="boton-registrarse" type="submit">Registrarse</button>
                </div>

                <div class="contenedor-texto-ya-tengo-cuenta">
                    <span>Ya tienes cuenta? <a class="texto-ya-tengo-cuenta" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a></span>
                </div>  

            </form>

        </div>

    </div>

</div>


{% endblock %}