{% extends "indexdos.html" %}

{% block titulo %} Registrarse {% endblock %}

{% load static %}

{% block contenido %}


<div class="container-fluid mauro-ocho">

    <div class="container centrar-cartas-signup">

        <div class="carta-imagen-signup"></div>
        
        <div class="cuerpo-carta-signup">

            <div class="cabecera-iniciar-signup">
                <h3 class="text-bienvenida">¡Únete a VueloYA!</h3>
            </div>

            <div class="contenido-carta-signup">

                <form method="POST">

                    {% csrf_token %}

                    <div class="parte-usuario row">
                        <input class="input-formulario-login" type="text" name="email" value= "{{ form.email.value }}" placeholder="Email" maxlength="100" autocapitalize="none" autocomplete="email" autofocus required id="id_email">

                        {% if form.email.errors %}
                            <div class="form-text" style="color: rgb(213, 114, 114);" id="basic-addon4">{{ form.email.errors }}</div>
                        {% else %}
                        {% endif %}

                    </div>

                    <div class="parte-usuario row">

                        <input class="input-formulario-login" type="text" name="username" placeholder="Nombre de Usuario" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">

                        {% if form.username.errors %}
                            <div class="form-text" style="color: rgb(213, 114, 114);" id="basic-addon4">{{ form.username.errors }}</div>
                        {% else %}

                        {% endif %}

                    </div> 

                    <div class="parte-usuario row">
                        <input class="input-formulario-login" type="password" name="password1" placeholder="Ingresar Contraseña" autocomplete="Nueva contraseña" autofocus required id="id_password1">

                        {% if form.password1.errors %}
                            <div class="form-text" style="color: rgb(213, 114, 114);" id="basic-addon4">{{ form.password1.errors }}</div>
                        {% else %}
                        {% endif %}

                    </div>

                    <div class="parte-usuario row">
                        <input class="input-formulario-login" type="password" name="password2" placeholder="Repetir Contraseña" autocomplete="Confirmar contraseña" autofocus required id="id_password2">

                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                            <div class="form-text" style="color: rgb(213, 114, 114);" id="basic-addon4">{{ error|escape }}</div>
                        {% endfor %}

                        {% else %}
                        {% endif %} 

                    </div>

                    <div class="aceptar-terminos">
                        <small>
                            <input type="checkbox" id="recuerdame">
                            <label for="recuerdame">Acepto los <a style="text-decoration: none; font-weight: 600; color: #303030;" href="#">Términos de Servicio</a> y la <a style="text-decoration: none; font-weight: 600; color: #303030;" href=""> Política de Privacidad.</a></label>
                        </small>
                    </div>

                    <div class="parte-registrarse">
                        <button class="boton-registrarse" type="submit">Registrarse</button>
                    </div>

                    <div class="texto-ya-tengo-cuenta">
                        <small>Ya tienes cuenta? <a style="font-weight: 600; color: #303030;" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a></small>
                    </div>   

                </form>

            </div>
        </div>

    </div>
</div>


{% endblock %}